<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SisInfo_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>menuPrincipal.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InsertUser</servlet-name>
    <servlet-class>log_in.SignIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logIn</servlet-name>
    <servlet-class>log_in.logIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>insertarCartel</servlet-name>
    <servlet-class>log_in.insertarCartel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>perfilUsuario</servlet-name>
    <servlet-class>log_in.perfilUsuario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mostrarCartel</servlet-name>
    <servlet-class>log_in.mostrarCartel</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mostrarCartelesUsuario</servlet-name>
    <servlet-class>log_in.mostrarCartelesUsuario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mostrarPreguntasUsuarios</servlet-name>
    <servlet-class>log_in.mostrarPreguntasUsuarios</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mostrarRetoUsuario</servlet-name>
    <servlet-class>log_in.mostrarRetoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUser</servlet-name>
    <url-pattern>/InsertaUser.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logIn</servlet-name>
    <url-pattern>/logIn.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>perfilUsuario</servlet-name>
    <url-pattern>/perfilUsuario.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mostrarCartel</servlet-name>
    <url-pattern>/mostrarCartel.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mostrarCartelesUsuario</servlet-name>
    <url-pattern>/mostrarCartelesUsuario.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mostrarPreguntasUsuarios</servlet-name>
    <url-pattern>/mostrarPreguntasUsuarios.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mostrarRetoUsuario</servlet-name>
    <url-pattern>/mostrarRetoUsuario.do</url-pattern>
  </servlet-mapping>
</web-app>